<html lang="it-IT" prefix="og: http://ogp.me/ns#" class="js svg csstransforms supports csstransforms3d cssvhunit canvas smil skrollr skrollr-desktop"><!--<![endif]--><head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#20FDC3">
        <meta name="msapplication-TileImage" content="http://www.noooagency.com/wp-content/themes/noooagency/images/ms-icon-144x144.png">
        <meta name="msapplication-TileColor" content="#2C1B3D">
        <meta name="format-detection" content="telephone=no">

        <link rel="pingback" href="http://www.noooagency.com/xmlrpc.php">
        <link rel="mask-icon" href="http://www.noooagency.com/wp-content/themes/noooagency/vectors/logo-pinned-site.svg" color="#2C1B3D">
        <link rel="shortcut icon" href="http://www.noooagency.com/wp-content/themes/noooagency/images/favicon.ico">
        <link rel="apple-touch-icon" href="http://www.noooagency.com/wp-content/themes/noooagency/images/touch-icon-iphone-precomposed.png">
        <link rel="apple-touch-icon" sizes="76x76" href="http://www.noooagency.com/wp-content/themes/noooagency/images/touch-icon-ipad-precomposed.png">
        <link rel="apple-touch-icon" sizes="120x120" href="http://www.noooagency.com/wp-content/themes/noooagency/images/touch-icon-iphone-retina-precomposed.png">
        <link rel="apple-touch-icon" sizes="152x152" href="http://www.noooagency.com/wp-content/themes/noooagency/images/touch-icon-ipad-retina-precomposed.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800&amp;subset=latin,cyrillic-ext,latin-ext">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&amp;subset=cyrillic-ext,latin">
        <link rel="stylesheet" href="http://www.noooagency.com/wp-content/themes/noooagency/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="http://www.noooagency.com/wp-content/themes/noooagency/assets/ionicons/css/ionicons.min.css" media="screen">
        <style type="text/css"></style><link rel="stylesheet" href="http://www.noooagency.com/wp-content/themes/noooagency/assets/lightslider/dist/css/lightslider.min.css" media="screen">
        <link rel="stylesheet" href="http://www.noooagency.com/wp-content/themes/noooagency/css/style.min.css" media="screen">


<!-- / Google Analytics by Yoast -->
<script type="text/javascript" src="http://www.noooagency.com/wp-includes/js/jquery/jquery.js?ver=1.11.3"></script>
<script type="text/javascript" src="http://www.noooagency.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
<link rel="https://api.w.org/" href="http://www.noooagency.com/wp-json/">

    </head>

    <body class="error404">
        <div class="animsition page-loaded" style="animation-duration: 700ms; opacity: 1;">
            <header>
               <!-- <div class="navbar navbar-default">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span id="icon-bar-first" class="icon-bar"></span>
                                        <span id="icon-bar-middle" class="icon-bar"></span>
                                        <span id="icon-bar-last" class="icon-bar"></span>
                                    </button>

                                    <a class="navbar-brand" href="http://www.noooagency.com"><span class="iconooo iconooo-logo"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <nav id="menu-main" class="height-full vertical">
                    <ul class="vertical-middle">
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-5">
                                <a href="http://www.noooagency.com/">Home</a>
                            </li>
                                                    <li class="menu-item menu-item-type-post_type_archive menu-item-object-service menu-item-59">
                                <a href="http://www.noooagency.com/service/">Servizi</a>
                            </li>
                                                    <li class="menu-item menu-item-type-post_type_archive menu-item-object-portfolio menu-item-122">
                                <a href="http://www.noooagency.com/portfolio/">Portfolio</a>
                            </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-99">
                                <a href="http://www.noooagency.com/chi-siamo/">Chi siamo</a>
                            </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61">
                                <a href="http://www.noooagency.com/contatti/">Contatti</a>
                            </li>
                        
                        <li id="menu-main-social">
                            <ul>
                                <li>
                                    <a href="https://it-it.facebook.com/noooagency"><span class="ion ion-social-facebook"></span> <span class="sr-only">Facebook</span></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/noooagency"><span class="ion ion-social-twitter"></span> <span class="sr-only">Twitter</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>

                <main id="error-404">
        <section class="section-overflow vertical height-full">
            <object id="shape-orbit-404" data="http://www.noooagency.com/wp-content/themes/noooagency/vectors/shape-orbit-404.svg" type="image/svg+xml" class="skrollable skrollable-between">
                <div id="fallback-svg-orbit-404" class="fallback-svg"></div>
            </object>

            <div class="vertical-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
                            <h1><span>Humans, We've Got <br>a Problem!</span><strong>4</strong><span class="hidden">0</span><span id="rotating-planet"></span><strong>4</strong></h1>

                            <p>"not found bitch ! "</p>

                            <a class="btn btn-nooo btn-nooo-mint btn-elastic btn-elastic-sm" href="http://www.noooagency.com">
                                <span class="morph-shape" data-morph-active="M286,113c0,0-68.8-5-136-5c-78.2,0-137,5-137,5s5-15.802,5-50.5C18,33.999,13,12,13,12s59,5,137,5c85,0,136-5,136-5s-5,17.598-5,52C281,96.398,286,113,286,113z">
                                    <svg width="100%" height="60px" viewBox="0 0 300 125" preserveAspectRatio="none">
                                        <path d="M286,113c0,0-68.8,0-136,0c-78.2,0-137,0-137,0s0-15.802,0-50.5C13,33.999,13,12,13,12s59,0,137,0c85,0,136,0,136,0s0,17.598,0,52C286,96.398,286,113,286,113z" vector-effect="non-scaling-stroke"></path>
                                    <desc>Created with Snap</desc><defs></defs></svg>
                                </span>

                                <span class="btn-nooo-text">Back home</span>
                            </a>

                            <object id="shape-spaceship-404" class="hidden-xs skrollable skrollable-between" data="http://www.noooagency.com/wp-content/themes/noooagency/vectors/shape-spaceship-404.svg" type="image/svg+xml">
                                <div id="fallback-svg-spaceship-404" class="fallback-svg"></div>
                            </object>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <canvas class="particles-js-canvas-el" width="1903" height="1214" style="width: 100%; height: 100%;"></canvas></main>

          <!--  <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 footer-menu">
                            <ul class="row">
                                                                    <li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 menu-item menu-item-type-post_type menu-item-object-page menu-item-109">
                                        <a href="http://www.noooagency.com/chi-siamo/">Chi Siamo</a>
                                    </li>
                                                                    <li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 menu-item menu-item-type-post_type_archive menu-item-object-service menu-item-123">
                                        <a href="http://www.noooagency.com/service/">Servizi</a>
                                    </li>
                                                                    <li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 menu-item menu-item-type-post_type_archive menu-item-object-portfolio menu-item-124">
                                        <a href="http://www.noooagency.com/portfolio/">Portfolio</a>
                                    </li>
                                                                    <li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 menu-item menu-item-type-post_type menu-item-object-page menu-item-110">
                                        <a href="http://www.noooagency.com/contatti/">Contatti</a>
                                    </li>
                                                                    <li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 menu-item menu-item-type-custom menu-item-object-custom menu-item-180">
                                        <a href="http://www.soulcial.it" target="_blank">Soulcial</a>
                                    </li>
                                                                    <li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 menu-item menu-item-type-post_type menu-item-object-page menu-item-260">
                                        <a href="http://www.noooagency.com/privacy/">Privacy</a>
                                    </li>
                                                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="row">
                                <li id="footer-social-menu-item" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <a href="https://www.facebook.com/noooagency" target="_blank">
                                        <span class="ion ion-social-facebook"></span>
                                    </a>

                                    <a href="https://twitter.com/noooagency" target="_blank">
                                        <span class="ion ion-social-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <address itemscope="" itemtype="http://schema.org/LocalBusiness">
                                Copyright © 2016 <span itemprop="name">NOOO Agency srl</span> <span class="hidden-xs">-</span>

                                <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="streetAddress">Via San Marco, 232</span>&nbsp;
                                    <span itemprop="postalCode">35129</span>
                                    <span itemprop="addressLocality">Padova (Italy)</span>
                                </span>

                                <span class="hidden-xs">-</span> Tel. <a href="tel:+390498933715" itemprop="telephone">+39 049 8933715</a><br>
                                <a id="footer-mail" href="mailto:hello@nooo.it"><span itemprop="email">hello@nooo.it</span></a>
                            </address>
                        </div>
                    </div>
                </div>
            </footer> -->

            <a href="#" id="btn-scroll-to-top" class="btn btn-nooo btn-nooo-mint btn-scroll-auto">
                <span class="ion ion-ios-arrow-thin-up"></span>
            </a>
        </div>

        <script src="http://www.noooagency.com/wp-content/themes/noooagency/assets/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/assets/lightslider/dist/js/lightslider.min.js"></script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/assets/skrollr/dist/skrollr.min.js"></script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/assets/js-cookie/src/js.cookie.js"></script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/assets/snap.svg/dist/snap.svg-min.js"></script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/assets/gsap/src/minified/TweenMax.min.js"></script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/assets/matchMedia/matchMedia.js"></script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/assets/matchMedia/matchMedia.addListener.js"></script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/assets/animsition/dist/js/animsition.min.js"></script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/js/modernizr-custom.min.js"></script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/js/cookie-disclaimer-bar.min.js"></script>
        <script>
            (function($) {
                'use strict';

                $(document).ready(function () {
                    $('body').cookieDisclaimerBar({
                        template: '\x3Cdiv\x20class\x3D\x22container\x2Dfluid\x22\x3E\x0A\x20\x20\x20\x20\x3Cdiv\x20class\x3D\x22row\x22\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x3Cdiv\x20class\x3D\x22col\x2Dxs\x2D12\x20col\x2Dsm\x2D12\x20col\x2Dmd\x2D12\x20col\x2Dlg\x2D12\x22\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cdiv\x20id\x3D\x22biscuit\x2Dimg\x22\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cimg\x20src\x3D\x22http\x3A\x2F\x2Fwww.noooagency.com\x2Fwp\x2Dcontent\x2Fthemes\x2Fnoooagency\x2Fvectors\x2Fshape\x2Dbiscuit.svg\x22\x20alt\x3D\x22biscuit\x22\x2F\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3C\x2Fdiv\x3E\x0A\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cp\x3EQuesto\x20sito\x20internet\x20utilizza\x20cookies\x20per\x20migliorare\x20l\x27esperienza\x20d\x27uso.\x20\x3Cbr\x20class\x3D\x22hidden\x2Dxs\x20hidden\x2Dlg\x22\x2F\x3ENavigando\x20ne\x20autorizzi\x20l\x27installazione\x20in\x20accordo\x20con\x20la\x20\x3Ca\x20href\x3D\x22http\x3A\x2F\x2Fwww.noooagency.com\x2F\x3Fpost_type\x3Dpage\x26p\x3D112\x22\x3ECookie\x20Policy\x3C\x2Fa\x3E.\x3C\x2Fp\x3E\x0A\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cbutton\x20type\x3D\x22button\x22\x20id\x3D\x22cookie\x2Ddisclaimer\x2Daccept\x2Dbtn\x22\x20class\x3D\x22btn\x20btn\x2Dnooo\x20btn\x2Dnooo\x2Doutline\x20btn\x2Delastic\x20btn\x2Delastic\x2Dsm\x22\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cspan\x20class\x3D\x22morph\x2Dshape\x22\x20data\x2Dmorph\x2Dactive\x3D\x22M286,113c0,0\x2D68.8\x2D5\x2D136\x2D5c\x2D78.2,0\x2D137,5\x2D137,5s5\x2D15.802,5\x2D50.5C18,33.999,13,12,13,12s59,5,137,5c85,0,136\x2D5,136\x2D5s\x2D5,17.598\x2D5,52C281,96.398,286,113,286,113z\x22\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Csvg\x20width\x3D\x22100\x25\x22\x20height\x3D\x2260px\x22\x20viewBox\x3D\x220\x200\x20300\x20125\x22\x20preserveAspectRatio\x3D\x22none\x22\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cpath\x20d\x3D\x22M286,113c0,0\x2D68.8,0\x2D136,0c\x2D78.2,0\x2D137,0\x2D137,0s0\x2D15.802,0\x2D50.5C13,33.999,13,12,13,12s59,0,137,0c85,0,136,0,136,0s0,17.598,0,52C286,96.398,286,113,286,113z\x22\x20vector\x2Deffect\x3D\x22non\x2Dscaling\x2Dstroke\x22\x3E\x3C\x2Fpath\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3C\x2Fsvg\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3C\x2Fspan\x3E\x0A\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cspan\x20class\x3D\x22btn\x2Dnooo\x2Dtext\x22\x3EAccetta\x3C\x2Fspan\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3C\x2Fbutton\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x3C\x2Fdiv\x3E\x0A\x20\x20\x20\x20\x3C\x2Fdiv\x3E\x0A\x3C\x2Fdiv\x3E\x0A',
                        cookiePath: '/'
                    });
                });
            })(jQuery);
        </script>
        <script src="http://www.noooagency.com/wp-content/themes/noooagency/js/theme.min.js"></script>
            <script src="http://www.noooagency.com/wp-content/themes/noooagency/assets/particles.js/particles.min.js"></script>
    <script>
    (function($) {
        $(document).ready(function() {
            particlesJS.load('error-404', 'http://www.noooagency.com/wp-content/themes/noooagency/js/particles-404.json');
        });
    })(jQuery);
</script>

                <script type="text/javascript">
            var bwpRecaptchaCallback = function() {
                // render all collected recaptcha instances
            };
        </script>

        <script src="https://www.google.com/recaptcha/api.js?onload=bwpRecaptchaCallback&amp;render=explicit" async="" defer=""></script>


        <noscript>
            &lt;link rel="stylesheet" href="http://www.noooagency.com/wp-content/themes/noooagency/css/noscript.min.css" media="screen"&gt;
        </noscript>
    

<div id="cookie-disclaimer-bar"><div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="biscuit-img">
                <img src="http://www.noooagency.com/wp-content/themes/noooagency/vectors/shape-biscuit.svg" alt="biscuit">
            </div>

            <p>Questo sito internet utilizza cookies per migliorare l'esperienza d'uso. <br class="hidden-xs hidden-lg">Navigando ne autorizzi l'installazione in accordo con la <a href="http://www.noooagency.com/?post_type=page&amp;p=112">Cookie Policy</a>.</p>

            <button type="button" id="cookie-disclaimer-accept-btn" class="btn btn-nooo btn-nooo-outline btn-elastic btn-elastic-sm">
                <span class="morph-shape" data-morph-active="M286,113c0,0-68.8-5-136-5c-78.2,0-137,5-137,5s5-15.802,5-50.5C18,33.999,13,12,13,12s59,5,137,5c85,0,136-5,136-5s-5,17.598-5,52C281,96.398,286,113,286,113z">
                    <svg width="100%" height="60px" viewBox="0 0 300 125" preserveAspectRatio="none">
                        <path d="M286,113c0,0-68.8,0-136,0c-78.2,0-137,0-137,0s0-15.802,0-50.5C13,33.999,13,12,13,12s59,0,137,0c85,0,136,0,136,0s0,17.598,0,52C286,96.398,286,113,286,113z" vector-effect="non-scaling-stroke"></path>
                    <desc>Created with Snap</desc><defs></defs></svg>
                </span>

                <span class="btn-nooo-text">Accetta</span>
            </button>
        </div>
    </div>
</div></div></body></html>