<html>
    <head>
        <body>

            <h2>Name: {{employeName}}</h2>
            <h2>Sex: {{employeSex}}</h2>
            <h2>Age: {{employeAge}}</h2>
            <h2>Pic: </h2><img src="{{employePic}}"
            
        </body>


    </head>


</html>